<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de Rodrigo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/plataformas">Plataformas</a>
        <a href="/geral">Geral</a>
    </nav>

    <h1>Informações Pessoais</h1>
    <p><strong>Nome:</strong> {{ user_data.name }}</p>
    <p><strong>Email:</strong> {{ user_data.email }}</p>
    <p><strong>LinkedIn:</strong> <a href="{{ user_data.linkedin }}" target="_blank">{{ user_data.linkedin }}</a></p>

</body>
</html>
