<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataformas Disponíveis</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/plataformas">Plataformas</a>
        <a href="/geral">Geral</a>
        <a href="/geral/resumo">Resumo Geral</a>
    </nav>

    <h1>Plataformas Disponíveis</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
        </tr>
        {% for platform in platforms %}
        <tr>
            <td><a href="/{{ platform.value }}">{{ platform.text }}</a></td>
            <td>{{ platform.value }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
