<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas da Plataforma {{ platform_name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/plataformas">Plataformas</a>
        <a href="/{{ platform_value }}/resumo">Resumo</a>
    </nav>

    <div class="header-container">
        <h1>Contas da Plataforma {{ platform_name }}</h1>
        <a href="/download/{{ platform_value }}" class="download-btn">
            Baixar CSV
        </a>
    </div>

    <table>
        <thead>
            <tr>
                {% if insights %}
                    {% for key in insights[0].keys() %}
                        {% if key != 'id' %}
                            <th>{{ key | capitalize }}</th>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <th>Nenhum dado encontrado</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if insights %}
                {% for insight in insights %}
                    <tr>
                        {% for key in insight.keys() %}
                            {% if key != 'id' %}
                                <td>{{ insight[key] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Nenhum dado disponível para exibição.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</body>
</html>
